.navbar-brand img{
    width: 100px;
    height: 70px;
}
.navbar {
    background: transparent !important;
  }
  

.mountains{
    height: 100vh;
    width: 100%;
    align-items: center;
    position: relative;
    display: inline-block;
    object-fit: cover; 

}
.hero-section img {
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    display: block;
  }
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
.container-fluid.p-0 {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }
  .fly-high {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);   
}
.Services{
    text-align: center;
    padding: 20px;
    color: rgb(1, 136, 129);
}
.card-button:hover {
    background: red;
    color: yellow;
    
}
.card-body{
    align-items: center;
    text-align: center;
    padding: 20px;
}
.card img {
    border-radius: 10%;
}
.col-md-4 {
    padding: 15px;
}
.card {
    padding: 20px;
}
.flight{
    height: 600px;
    width: 100%;
    
}
img {
    max-width: 100%;
    height: auto;
}
.navbar {
    background-color: black;
}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;;
}



